In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

In [2]:
# list comprehensions
lista = [4, 8, 9, 2, 0, -1, 400, -18, 3]
l = []

print(lista)
print(l)
[l.append(L) for L in lista if L > 0]
print(l)

[4, 8, 9, 2, 0, -1, 400, -18, 3]
[]
[4, 8, 9, 2, 400, 3]

In [3]:
from_dixio = pd.DataFrame({
    'color': {1: 'red', 2: 'blue', 3: 'brown'}
    , 'size': {1: None, 2: 'L', 3: 'S'}
    , 'quantity': {1: 0, 2: 30, 3: None}
    , 'id': {1: 39438, 2: 394348, 3: 394394}
})

In [4]:
snc = from_dixio.set_index('id'); snc

        color  size  quantity
id
39438     red  None       0.0
394348   blue     L      30.0
394394  brown     S       NaN

In [5]:
snc_sort = from_dixio.sort_values(by='color')

# ---------------------------------------------------------------------
# _reset_index_
# this will create a new index, in this case based in the new sort
# but will leave behind the old index as a new column called "index"
# ---------------------------------------------------------------------
snc_sort = snc_sort.reset_index(); snc_sort

   index  color  size  quantity      id
0      2   blue     L      30.0  394348
1      3  brown     S       NaN  394394
2      1    red  None       0.0   39438